# Via Swap files
.*.sw[a-z]

# Secret token for GitHub
token.txt
token_artifacts.txt

# Secret environment variables
.env

# Fetched metainfo, logs, cached data views.
tarantool
workflow_runs
workflow_run_jobs

# Python bytecode.
*.pyc
__pycache__
venv

# IDEA
.idea

# Debug logs.
debug.log

# Reports.
output
gathered_data
