# Via Swap files
.*.sw[a-z]

# Secret token for GitHub
token.txt

# Fetched metainfo, logs, cached data views.
workflow_runs
workflow_run_jobs

# Python bytecode.
*.pyc
__pycache__

# IDEA
.idea

# Debug logs.
debug.log

# Reports.
output
gathered_data
