name: testing

on:
  pull_request:
  push:
    branches:
      - 'master'
jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
      - run: pip install --upgrade flake8

      - uses: actions/checkout@v2
      - run: flake8

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: actions/checkout@v2
      - run: pip install -r requirements.txt
      - run: pip install -r requirements-test.txt
      - run: make test
